--only-binary=:all:

Flask==3.1.1
flask-cors==4.0.0
pymongo==4.13.2
python-dotenv==1.0.1

# Torch CPU build
torch==2.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

# WhisperX pinned to a stable commit
git+https://github.com/m-bain/whisperX.git@3a68e13

sentence-transformers==2.3.1
transformers==4.41.2
tokenizers==0.15.1
